@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111928;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');

body {
  font-family: 'Onest', sans-serif;
}

.font-unbounded {
  font-family: 'Unbounded', cursive;
}

.font-onest {
  font-family: 'Onest', sans-serif;
}
:root {
  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #13b1bfc7 0deg,
    #8e59f14a 55deg,
    #48ffbf4b 120deg,
    #27c9ff5f 160deg,
    transparent 360deg
  );

  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    #25e2ff6b 0deg,
    #8cffd365 160deg,
    #67ffff56 120deg,
    #71cbff7c 55deg,
    transparent 360deg
  );
}

body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

body::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter: blur(90px);  
  top: calc(50vh - 50vw/2);
  left: calc(50vw);
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

body::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);
  }
  100% {
    transform: translateX(0);
  }
}
