
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');

body {
  font-family: 'Onest', sans-serif;
}

.font-unbounded {
  font-family: 'Unbounded', sans-serif;
}

.font-onest {
  font-family: 'Onest', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40vh 0 0 0;
    min-height: 100vh;
    position: relative; /* Ensure the gradient is applied correctly */
  }
  
  .mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Prospect';
    font-size: 3rem;
  }
  
  .research {
    margin: 2rem 0;
    border-radius: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Helvetica';
    padding: 0 1rem;
  }
  
  .line {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 1px;
  }
/* main.css */
body {
  cursor: none;
}

/* Add this style to hide the default system cursor */
* {
  cursor: none;
}

/* Custom cursor styles */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #0B101B;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out;
  z-index: 9999;
}

.cursor.hovered {
  transition: transform 0.1s ease-out, width 0.2s ease-out, height 0.2s ease-out;
  
}

/* Ensure the custom cursor is applied to specific elements */
button, a, input, article, .suggestion-card{
  cursor: none;
}

